Repository openshift/cluster-api-provider-libvirt, pull requests merged in 2019-12, with the labels that each got.

#182 Replace guestfish with config drive on s390x platform
  pkg/cloud/libvirt/client/client.go
  pkg/cloud/libvirt/client/domain.go
  pkg/cloud/libvirt/client/ignition_s390x_mock_test.go
  pkg/cloud/libvirt/client/s390_ignition.go
Labels: approved, lgtm, ok-to-test, size/XL

#183 Bug 1783013: Replace guestfish with config drive on s390x platform
  pkg/cloud/libvirt/client/client.go
  pkg/cloud/libvirt/client/domain.go
  pkg/cloud/libvirt/client/ignition_s390x_mock_test.go
  pkg/cloud/libvirt/client/s390_ignition.go
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, ok-to-test, size/XL

#186 Do not use Spice graphics for PowerPC systems
  pkg/cloud/libvirt/client/domain.go
Labels: approved, lgtm, size/XS

#185 Support config drive for ignition config on PowerPC
  pkg/cloud/libvirt/client/client.go
  pkg/cloud/libvirt/client/configdrive_ignition.go
Labels: approved, lgtm, size/S
